<!doctype html>
<html lang="ru">
<head>
  {% include "../includes/head.twig" %}
</head>
<body>
<!-- MAIN -->
<main>
  {% block content %}
  {% endblock %}
</main>


{#<!-- FOOTER -->#}
{% include "../includes/scripts.twig" %}
</body>
</html>
